a{
    text-decoration: none;
    color:black;
}
.menu{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;        
}

.montagne{
    display: flex;
}

.montagne img{
    padding-top: 5px;
    width: 35%;
    height: 35%;
}

.montagneText{
    padding: 140px;
    padding-left: 200px;
    font-family: Georgia, serif;
    padding-bottom: 200px;
    font-style:italic;
}

.chooseArmHead{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

.chooseArmPart{
    display: flex;
}

.pBtnSize img{
    height:85px;
    width:75px;
}

.soonHands{
    height:80px;
    width:282px;
    font-size: 25px;
}

.pHead{
    position: absolute;    
    padding-left: 553px;
    padding-top: 85px;
}
.pHead2{
    position: absolute;
    padding-left: 550px;
    padding-top: 75px;
}

.pBody{
    position: absolute;   
    padding-left: 530px;
    padding-top: 208px;
}

.pBody2{
    position: absolute;    
    padding-left: 484px;
    padding-top: 200px;
}

.pLeft{
    position: absolute;    
    padding-left: 682px;
    padding-top: 215px;
}

.pRight{
    position: absolute;    
    padding-left: 205px;
    padding-top: 215px;
}

.pLegs{
    position: absolute;    
    padding-left: 530px;
    padding-top: 435px;
    padding-bottom: 80px;
}

.pLegs2{
    position: absolute;
    padding-left: 510px;
    padding-top: 475px;
}

.footer{
    padding-top: 590px;
}

.mainone{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

.contacts{
    background-color: rgba(135, 135, 221, 0.479);
}