a{
    text-decoration: none;
    color:black;
}
.menu{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;        
}

.jackal{
    display: flex;
}

.jackal img{
    padding-top: 5px;
    width: 35%;
    height: 35%;
}

.jackalText{
    padding: 120px;
    font-family: Georgia, serif;
    padding-bottom: 200px;
    font-style:italic;
}

.unitImg{
    padding-top: 25px ;  
    padding:  10px; 
    display: flex;
}
.unitImg2{
    padding-top: 25px;  
    padding:  10px;  
    display: flex;
}
.unitImg3{
    padding-top: 25px; 
    padding:  10px;   
    display: flex;
}

.equip{
    margin-left: 550px;
    /* padding-top: 25px; */
    /* width: 6em; */
}

.equip h3{
    font-weight: 400;
    font-size: 50px;
}

.unitLength{
    font-family: Georgia, serif;
    font-style:italic;
}