a{
    text-decoration: none;
    color:black;
}
.menu{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;        
}

.jackal{
    display: flex;
}

.jackal img{
    padding-top: 5px;
    width: 35%;
    height: 35%;
}

.jackalText{
    padding: 120px;
    font-family: Georgia, serif;
    padding-bottom: 200px;
    font-style:italic;
}

.container{
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
}

.slider{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 30px auto;
    overflow: hidden;
}

.slider-line{
    height: 200px;
    width: 800px;
    background: rgb(97, 97, 168);
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 0.5s;
}

.unitImg{
    padding-top: 25px ;  
    padding:  10px; 
    display: flex;
}
.unitImg2{
    padding-top: 25px;  
    padding:  10px;  
    display: flex;
}
.unitImg3{
    padding-top: 25px; 
    padding:  10px;   
    display: flex;
}

.equip{
    margin-left: 550px;
    /* padding-top: 25px; */
    /* width: 6em; */
}

.equip h3{
    font-weight: 400;
    font-size: 50px;
}

.unitLength{
    font-family: Georgia, serif;
    font-style:italic;
}

.mainone{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

.contacts{
    background-color: rgba(135, 135, 221, 0.479);
}


